sudo: false
language: python
python:
  - "3.6"
# command to install dependencies
install:
  - pip install click
  - pip install colorama
  - pip install -e .
# command to run tests
script:
  - potato version
  - potato make
  - study
  - 2018-07-05/18:00
  - work
  - potato show --pg 1
  - potato show --uf
  - potato remove 1
  - potato make
  - study
  - 2018-07-05/18:00
  - work
  - potato make
  - study
  - 2018-07-05/18:00
  - work
  - potato show
  - potato remove --all
  - potato make
  - study
  - 2018-07-05/18:00
  - work
  - potato show
  - potato detail 4
